.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .filters input,
  .filters select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .product-quantity {
    font-size: 14px;
    color: #555;
  }

  .product-list button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-list .editar,
  .product-list .eliminar{
    padding: 8px 12px;
    background-color: #b3b9bf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .product-list button:hover {
    background-color: #0056b3;
  }
  
  